#background-text { display: none; height: 0; font-size: 0 }
.amzn-native-header-text { color: rgba(255, 255, 255, 0.7); font-family: Roboto, Helvetica, Arial, sans-serif !important; font-weight: 500; font-size: 14px !important; text-align: center !important; }
#amzn_assoc_ad_div_assoc_banner_placement_default_0 { display: flex; justify-content: center; }
